{% extends 'shop/main.html' %}
{% load static %}
{% block content %}


    <form method="GET" action="{% url 'catalog' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search for products..." value="{{ request.GET.search|default:'' }}">
            <button type="submit" class="btn btn-outline-secondary">Search</button>
        </div>
    </form>
    <!-- First Product Item -->
    {% for product in products %}
    <div class="row mb-4">
        <div class="col-lg-12 d-flex align-items-start border p-3">
            <div class="me-4">
                <img class="thumbnail" src="{{product.imageURL}}" style="max-width:200px; max-height:150px;">
            </div>
            <div>
                <h6><strong>{{product.name}}</strong></h6>
                <p>{{product.description}}</p>
                <!-- <h4><strong>{{product.price}}</strong></h4> -->
                <button class="btn btn-primary add-btn" onclick="location.href='{% url 'checkout' product.product_id %}'">Buy</button>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
