{% extends 'shop/main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <form id="main-form" method="POST" action="{% url 'place_order' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        Shipping Information:
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <input class="form-control {% if form.address_x.errors %}is-invalid{% endif %}" type="text" name="address_x" placeholder="Address X..." value="{{ form.address_x.value }}">
                            {% if form.address_x.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.address_x.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group mb-3">
                            <input class="form-control {% if form.address_y.errors %}is-invalid{% endif %}" type="text" name="address_y" placeholder="Address Y..." value="{{ form.address_y.value }}">
                            {% if form.address_y.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.address_y.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group mb-3">
                            <label for="ups_account">UPS Account (optional):</label>
                            <input class="form-control {% if form.ups_account.errors %}is-invalid{% endif %}" type="text" id="ups_account" name="ups_account" placeholder="Enter UPS Account if available" value="{{ form.ups_account.value }}">
                            {% if form.ups_account.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.ups_account.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        Order Summary:
                    </div>
                    <div class="card-body">
                        {% for item in items %}
                        <div class="row mb-3 align-items-center">
                            <div class="col-sm-2">
                                <img src="{{ item.product.imageURL }}" alt="{{ item.product.name }}" class="img-fluid">
                            </div>
                            <div class="col-sm-5">
                                <p class="mb-0">{{ item.product.name }}</p>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" value="{{ item.quantity }}" class="form-control" disabled>
                            </div>
                        </div>
                        {% if not forloop.last %} 
                        <hr> 
                        {% endif %}
                        {% endfor %}
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-success">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
